<header>
  <!--<nav class="navbar navbar-expand-lg  navbar-govco navbar-expanded">-->
  <nav class="navbar navbar-expand-lg  navbar-govco">
    <div id="mensaje" class="navbar-container container-fluid alto-mensaje">
      <div class="container ml-5">
        <span>{{modeloTextos["header"]["nav"]["texto-alerta"]}}</span>
      </div>
      <div class="spacer"></div>
      <span class="mr-5"><strong><a (click)="cerrarMensaje()">X</a></strong></span>
    </div>
    <div class="navbar-container container-fluid">
      <div class="navbar-logo float-left">
        <a class="navbar-brand" href="">
          <img src="https://cdn.www.gov.co/assets/images/logo.png" height="30" alt="Logo Gov.co" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="" data-target="#navbarCollapsible"
          aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="beta border float-left">BETA</div>
      </div>
      <!--<div class="collapse navbar-collapse navbar-first-menu float-right">-->
      <div class="navbar-first-menu float-right mr-5">
        <div class="nav-primary mx-auto">
          <ul class="navbar-nav ml-auto nav-items nav-items-desktop">
          </ul>
        </div>
        <div class="nav-item-primary ml-auto mr-2">
          <div class="form-inline form-search-bar my-2 my-lg-0 search-desktop-container">
            <input class="form-control mr-sm-2 search-navbar search-desktop-searchTerm searchTerm" type="search"
              placeholder="{{modeloTextos['header']['nav']['buscar-placeholder']}}" aria-label="Search"
              name="searchTerm" id="search-desktop" />
            <span class="govco-icon govco-icon-search-cn icon-search notranslate"></span>
          </div>
          <span class="govco-icon govco-icon-language-en-n lang-govco ml-3"></span>
          <span class="govco-icon govco-icon-tramite-presencial size-1x lang-govco"></span>
          <span class="text-white mt-1">{{modeloTextos['header']['nav']['inicio-sesion']}}</span>
        </div>
      </div>
    </div>
    <div class='nav-secondary show-transition' id="nav-secondary">
      <div class="container">
        <!--<div class="collapse  navbar-collapse navbar-first-menu">-->
        <div class="navbar-first-menu">
          <ul class="navbar-nav justify-content-center w-100 d-flex nav-items nav-items-desktop">
            <li class="nav-item">
              <a href="/ficha-tramites-y-servicios/"
                class="nav-link">{{modeloTextos['header']['nav']['tramites-servicios']}}</a>
            </li>
            <li class="nav-item ">
              <a href="/participacion/" class="nav-link">{{modeloTextos['header']['nav']['participacion']}}</a>
            </li>
            <li class="nav-item ">
              <a href="/entidades/" class="nav-link">{{modeloTextos['header']['nav']['entidades']}}</a>
            </li>
            <li class="nav-item ">
              <a href="/noticias/" class="nav-link">{{modeloTextos['header']['nav']['noticias']}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-nav navbar-notifications" id="notificationHeader"></div>
  </nav>
</header>

<div class="imagen-superior">
  <div class="titulo-buscador">
    <span>{{modeloTextos['header']['imagen']['titulo']}}</span>
  </div>
  <div class="buscador">
    <div class="form-inline form-search-bar1 ">
      <input class="form-control1" type="text"
        placeholder="{{modeloTextos['header']['imagen']['buscador']}}"/>
      <span class="govco-icon govco-icon-search-cn icono-buscar"></span>
    </div>
  </div>
  <div class="descripcion-buscador">
    <span>{{modeloTextos['header']['imagen']['descripcion']}}</span>
  </div>
</div>

<div class="contenedor-secciones">
  <div class="col-12 govco-card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-7 text-justify contenido-secciones">
            <h1>{{modeloTextos['contenedor-secciones']['seccion1']['h1']}}</h1>
            <div class="falta-un-dia">
              <span>{{modeloTextos['contenedor-secciones']['seccion1']['col1']['fila1']['resaltado']}}</span></div>
            <h5 class="headline-s-govco mt-3">
              {{modeloTextos['contenedor-secciones']['seccion1']['col1']['fila1']['h5']}}</h5>
            <div class="row flex">
              <span
                class="texto-descripción-tarjetas ml-3">{{modeloTextos['contenedor-secciones']['seccion1']['col1']['fila1']['text1']}}</span>
              <div class="spacer"></div>
              <span
                class="texto-descripción-tarjetas">{{modeloTextos['contenedor-secciones']['seccion1']['col1']['fila1']['text2']}}</span>
            </div>
            <hr />
            <div class="activo">
              <span>{{modeloTextos['contenedor-secciones']['seccion1']['col1']['fila2']['resaltado']}}</span></div>
            <h5 class="headline-s-govco  mt-3">
              {{modeloTextos['contenedor-secciones']['seccion1']['col1']['fila2']['h5']}}</h5>
            <div class="row flex">
              <span
                class="texto-descripción-tarjetas ml-3">{{modeloTextos['contenedor-secciones']['seccion1']['col1']['fila2']['text1']}}</span>
              <div class="spacer"></div>
              <span
                class="texto-descripción-tarjetas">{{modeloTextos['contenedor-secciones']['seccion1']['col1']['fila2']['text2']}}</span>
            </div>
            <hr />
            <div class="conoce-los-resultados">
              <span>{{modeloTextos['contenedor-secciones']['seccion1']['col1']['fila3']['resaltado']}}</span></div>
            <h5 class="headline-s-govco  mt-3">
              {{modeloTextos['contenedor-secciones']['seccion1']['col1']['fila3']['h5']}}</h5>
            <span
              class="texto-descripción-tarjetas">{{modeloTextos['contenedor-secciones']['seccion1']['col1']['fila3']['text1']}}</span>
            <hr />
            <div class="row flex">
              <div class="spacer"></div>
              <span
                class="texto-descripción-tarjetas1">{{modeloTextos['contenedor-secciones']['seccion1']['col1']['enlace']}}</span><span
                class="govco-icon govco-icon-right-arrow size-2x icon-right"></span>
            </div>
          </div>
          <div class="col-5">
            <div class="card govco-card">
              <div class="card-body border border-primary rounded">
                <h3>{{modeloTextos['contenedor-secciones']['seccion1']['col2']['h3']}}</h3>
                <p class="description-govco">{{modeloTextos['contenedor-secciones']['seccion1']['col2']['text1']}}</p>
                <span
                  class="texto-descripción-tarjetas">{{modeloTextos['contenedor-secciones']['seccion1']['col2']['text2']}}</span>
                <div class="row justify-content-center">
                  <div class="col-12 div-character">
                    <textarea class="form-control text-area mt-4" rows="6"
                      placeholder="{{modeloTextos['contenedor-secciones']['seccion1']['col2']['placeholder']}}"
                      id="textarea-example" maxlength="300"></textarea>

                  </div>
                  <button href="/"
                    class="btn btn-round btn-middle">{{modeloTextos['contenedor-secciones']['seccion1']['col2']['boton']}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-12 ml-5 my-3">
    <h1>{{modeloTextos['contenedor-secciones']['seccion2']['h1']}}</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card govco-card">
        <div class="row card-body align-items-center">
          <div class="col-sm-3 col-md-3 col-lg-3 ">
            <img class="" src="../assets/card-icon-1.PNG" alt="..." />
          </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-header govco-card-header text-justify">
              <h2>{{modeloTextos['contenedor-secciones']['seccion2']['tarjeta1']['h2']}}</h2>
            </div>
            <div class="card-body">
              <span
                class="texto-descripción-tarjetas">{{modeloTextos['contenedor-secciones']['seccion2']['tarjeta1']['text1']}}</span>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row flex">
              <div class="spacer"></div>
              <span
                class="texto-descripción-tarjetas1">{{modeloTextos['contenedor-secciones']['seccion2']['tarjeta1']['text2']}}</span><span
                class="govco-icon govco-icon-right-arrow size-2x icon-right mr-5"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 ">
      <div class=" card govco-card">
        <div class="row card-body align-items-center">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <img class="" src="../assets/card-icon-2.PNG" alt="..." />
          </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-header govco-card-header text-justify">
              <h2>{{modeloTextos['contenedor-secciones']['seccion2']['tarjeta2']['h2']}}</h2>
            </div>
            <div class="card-body">
              <span
                class="texto-descripción-tarjetas">{{modeloTextos['contenedor-secciones']['seccion2']['tarjeta2']['text1']}}</span>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row flex">
              <div class="spacer"></div>
              <span
                class="texto-descripción-tarjetas1">{{modeloTextos['contenedor-secciones']['seccion2']['tarjeta2']['text2']}}</span><span
                class="govco-icon govco-icon-right-arrow size-2x icon-right mr-5"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 py-3">
      <div class=" card govco-card">
        <div class="row card-body align-items-center">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <img class="" src="../assets/card-icon-3.PNG" alt="..." />
          </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-header govco-card-header text-justify">
              <h2>{{modeloTextos['contenedor-secciones']['seccion2']['tarjeta3']['h2']}}</h2>
            </div>
            <div class="card-body">
              <span
                class="texto-descripción-tarjetas">{{modeloTextos['contenedor-secciones']['seccion2']['tarjeta3']['text1']}}</span>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row flex">
              <div class="spacer"></div>
              <span
                class="texto-descripción-tarjetas1">{{modeloTextos['contenedor-secciones']['seccion2']['tarjeta3']['text2']}}</span><span
                class="govco-icon govco-icon-right-arrow size-2x icon-right mr-5"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 py-3">
      <div class=" card govco-card">
        <div class="row card-body align-items-center">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <img class="" src="../assets/card-icon-4.PNG" alt="..." />
          </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-header govco-card-header text-justify">
              <h2>{{modeloTextos['contenedor-secciones']['seccion2']['tarjeta4']['h2']}}</h2>
            </div>
            <div class="card-body">
              <span
                class="texto-descripción-tarjetas">{{modeloTextos['contenedor-secciones']['seccion2']['tarjeta4']['text1']}}</span>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row flex">
              <div class="spacer"></div>
              <span
                class="texto-descripción-tarjetas1">{{modeloTextos['contenedor-secciones']['seccion2']['tarjeta4']['text2']}}</span><span
                class="govco-icon govco-icon-right-arrow size-2x icon-right mr-5"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="footer page__footer footer-white footer-blue">
    <div class="container">
      <div class="footer-container" id="footer-container">
        <div class="footer-title d-flex  bd-highlight">
          <h2 class="title-footer">{{modeloTextos['footer']['h2']}}</h2>
        </div>
        <div
          class="nav-footer icon-white  nav-pills nav-pills-icons icon-white d-flex justify-content-center bd-highlight">

          <div class="item-footer">
            <a class="nav-link icon-white" target="_blank" href="mailto:soporteccc@mintic.gov.co">
              <span class="govco-icon govco-icon-email-cn"></span>
              <p class="title-contact-link">{{modeloTextos['footer']['btn1']}}</p>
              <p class="content-link">
                {{modeloTextos['footer']['btn1_2']}}
              </p>
            </a>
          </div>
          <div class="item-footer">
            <a class="nav-link icon-white" onClick="utils.viewportLink('/#')">
              <span class="govco-icon govco-icon govco-icon-callback-cn"></span>
              <p class="title-contact-link">{{modeloTextos['footer']['btn2']}}</p>
              <p class="content-link">
                {{modeloTextos['footer']['btn2_2']}}
              </p>
            </a>
          </div>
          <div class="item-footer">
            <div class="nav-link icon-white">
              <span class="govco-icon govco-icon-call-center-cn"></span>
              <p class="title-contact-link">{{modeloTextos['footer']['btn3']}}</p>
              <p class="content-link">
                {{modeloTextos['footer']['btn3_2']}}
              </p>
            </div>
          </div>
          <div class="item-footer">
            <a class="nav-link icon-white" onClick="utils.viewportLink('/#')">
              <span class="govco-icon govco-icon-callin-cn"></span>
              <p class="title-contact-link">{{modeloTextos['footer']['btn4']}}</p>
              <p class="content-link">
                {{modeloTextos['footer']['btn4_2']}}
              </p>
            </a>
          </div>
          <div class="item-footer">
            <a class="nav-link icon-white" href="utils.getServerWebUrl('/#')">
              <span class="govco-icon govco-icon-wifi-cn"></span>
              <p class="title-contact-link"> {{modeloTextos['footer']['btn5']}} </p>
              <p class="content-link">
                {{modeloTextos['footer']['btn5_2']}}
              </p>
            </a>
          </div>
        </div>
        <div class="submenu-footer d-flex justify-content-center bd-highlight">
          <ul class="pl-sm-0">
            <li>
              <a href="utils.getServerWebUrl('/#')">
                {{modeloTextos['footer']['link1']}}
              </a>
            </li>
            <li>
              <a href="utils.getServerWebUrl('/#')">
                {{modeloTextos['footer']['link2']}}
              </a>
            </li>
            <li>
              <a href="utils.getServerWebUrl('/#')">
                {{modeloTextos['footer']['link3']}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>