*{
    font-family: "Work Sans", sans-serif;
}

/*SOBRECARGA DE LA CLASE CONTAINER PARA ELIMINAR LOS PAGING*/
.container{
    padding: 0px 0% !important;
}

/*SOBRECARGA DE LA CLASE CONTAINER-FLUID*/
.container-fluid {    
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

/*ESTA CLASE ES USADA PARA CONTENER LAS DOS SECCIONES REQUERIDAS POR LA PRUEBA
PERMITE MANEJAR MÁRGENES A LA DEREZA E IZQUIERDA Y SOPREPONERSE UN POCO SOBRE LA IMAGEN DE PRESENTACIÓN*/
.contenedor-secciones{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: -80px;
}


/*ESTA CLASE SE USA PARA PRESENTAR LA NOTIFICACIÓN INICIAL*/
.alto-mensaje{
    height: 30px;
    background-color: #ffab00;    
}

/*ESTA CLASE SE USA PARA DARLE ESTILO AL TEXTO DE LA NOTIFICACIÓN INICAL*/
.alto-mensaje span,strong{        
    color: #284f9c;
    font-size: 14px;
    font-weight: 500;    
}

/*ESTA CLASE SE USA PARA CARGAR LA IMAGEN DE PRESENTACIÓN*/
.imagen-superior{    
  background-image: url("./assets/paisaje2.png");  
  height: 360px;   
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
}

/*ESTA CLASE SE USA PARA UBICAR EL TÍTULO INICAL SOBRE LA IMAGEN DE PRESENTACIÓN*/
.titulo-buscador{   
    position: relative;
    top: 20px;           
      
    height: 70px;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/*ESTA CLASE SE USA PARA UBICAR EL TÍTULO INICAL SOBRE LA IMAGEN DE PRESENTACIÓN*/
.titulo-buscador span{       
    font-family: "Montserrat";
    font-size: 61px;
    color: white;    
    font-weight: 300;
}

/*ESTA CLASE SE USA PARA UBICAR EL BUSCADOR INICAL SOBRE LA IMAGEN DE PRESENTACIÓN*/
.buscador{
    position: relative;
    top: 35px;    
    margin-top: 10px;        
    height: 52px;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

/*ESTA CLASE SE USA PARA UBICAR EL BUSCADOR INICAL SOBRE LA IMAGEN DE PRESENTACIÓN*/
.form-search-bar1 {
    border-radius: 2rem;
    background-color: white;
    border: 1px solid #fff;
    height: 52px;
    box-shadow: 0px 0px 1px white;
    overflow: hidden;
    font-size: 14px;
    margin-left: 1rem;
    
}

/*ESTA CLASE SE USA PARA UBICAR EL BUSCADOR INICAL SOBRE LA IMAGEN DE PRESENTACIÓN*/
.form-control1 {
    font-size: 20px !important;
    margin-right: 1px !important;
    margin-left: 20px;
    color: rgb(8, 8, 8) !important;
    width: 750px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0;
    height: 30px;
}

/*ESTA CLASE SE USA PARA UBICAR EL BUSCADOR INICAL SOBRE LA IMAGEN DE PRESENTACIÓN*/
.form-control1::placeholder {
    color:#0a67c4;
    font-weight: 300;    
}

/*ESTA CLASE SE USA PARA UBICAR EL BUSCADOR INICAL SOBRE LA IMAGEN DE PRESENTACIÓN*/
.icono-buscar{
    font-size: 35px;
}

/*ESTA CLASE SE USA PARA UBICAR LA DESCRIPCIÓN INICAL SOBRE LA IMAGEN DE PRESENTACIÓN*/
.descripcion-buscador{
    position: relative;
    top: 50px;    
    margin-top: 10px;       
    height: 50px;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

/*ESTA CLASE SE USA PARA UBICAR LA DESCRIPCIÓN INICAL SOBRE LA IMAGEN DE PRESENTACIÓN*/
.descripcion-buscador span{       
    font-family: "Work Sans";
    font-size: 30px;
    color: white;    
    font-weight: 300;
}


.spacer{
    flex: 1;
}

/*ESTA CLASE SE USA PARA RESALTAR EL TEXTO FALTA UN DIA*/
.falta-un-dia{
    background-color: #f3561f;
    height: 23px;   
    width: 230px;     
    padding-left: 10px;  
}

/*ESTA CLASE SE USA PARA DAR COLOR BLANCO A EL TEXTO FALTA UN DIA*/
.falta-un-dia span{    
    color: white;    
}

/*ESTA CLASE SE USA PARA RESALTAR EL TEXTO ACTIVO*/
.activo{
    background-color: #069169;
    height: 23px;   
    width: 230px;     
    padding-left: 10px;  
}

/*ESTA CLASE SE USA PARA DAR COLOR BLANCO A EL TEXTO ACTIVO*/
.activo span{
    color: white;
}

/*ESTA CLASE SE USA PARA RESALTAR EL TEXTO CONOCE LOS RESULTADOS*/
.conoce-los-resultados{
    background-color: #3772ff;
    height: 23px;   
    width: 230px;     
    padding-left: 10px;  
}

/*ESTA CLASE SE USA PARA DAR COLOR BLANCO A EL TEXTO CONOCE LOS RESULTADOS*/
.conoce-los-resultados span{    
    color: white;
}

/*ESTA CLASE SE USA PARA CAMBIAR EL COLOR DE ALGUNOS TEXTOS DENTRO DEL SITIO*/
.texto-descripción-tarjetas{
          
    color: #004884;        
}

/*ESTA CLASE SE USA PARA CAMBIAR EL COLOR Y EL GROSOR DE LA FUENTE DE ALGUNOS TEXTOS DENTRO DEL SITIO*/
.texto-descripción-tarjetas1{
           
    color: #3a74ff;    
    font-weight: bold;
}

/*ESTA CLASE SE USA PARA SEPARAR ALGUNOS TEXTOS DE UNAS DE LAS SECCIONES*/
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(195 207 247);
    margin: 1em 0;
    padding: 0;
}


h1{
    
    font-size: 2rem;
    font-weight: 400;
    color: #004884;
    font-size: 40px;
    line-height: 1.5 !important;
}

h2{
    
    font-size: 2rem;
    font-weight: 400;
    color: #004884;
    font-size: 30px;
    line-height: 1.0 !important;
}

h3{
    font-size: 2rem;
    font-weight: 400;
    color: #004884;
    font-size: 30px;
    line-height: 1.0 !important;
}

.icon-right{
    margin-top: -10px;
}

/*ESTA CLASE SE USA PARA DAR UN ESTILO SIMILAR AL DE CDN GOV.CO, YA QUE ESTE COMOPONETE NO FUNCIONÓ CORRECTAMENTE*/
.text-area { 
    background-color: rgba(157,190,255,.3)!important;
    border-radius: .8rem!important;
    font-weight: 600!important;
    padding: 5% 5% 10%;
    height: 12.063rem;    
    resize: none;           
}

/*ESTA CLASE SE USA PARA DAR ESTILO AL TEXTO BETA EN LA PARTE DEL NAVBAR*/
.beta{        
    height: 13px;
    width: 33px;    
    color: aliceblue;
    font-size: 9px;
    position: relative;
    top: 29px;
    left: 180px;
    padding-left: 3px;
    padding-right: 3px;
}